{% extends "9xt3/layout.html" %}

{% block body %}
{% if not user %}
<div class="container-fluid p-5" style="background-color: grey; height: 100vh;">
    <p class="h6 text-black pl-5">
    <h1> Sorry, Restricted :(</h1>
    <h6> Login or register to access this page </h6>
    </p>
</div>
{% else %}
    <div class="container-fluid pl-5 pt-5 pr-5">
    <h2>Delete</h2>
    <br>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="/cemail" method="post">
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Enter password to delete">
        </div>
        <input class="btn btn-outline-danger" type="submit" value="Delete">
    </form>
    <br>
    </div>
{% endif %}
{% endblock %}
