{% extends "9xt3/layout.html" %}

{% block body %}
    <div class="container-fluid pl-5 pt-5 pr-5">
    <h2>Register</h2>
    <br>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="/register" method="post">
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-outline-dark" type="submit" value="Register">
    </form>
    <br>
    <h6 class="text-black">Already have an account? <a href="/login">Log In here.</a></h6>
    </div>
{% endblock %}
